.App-header {
    width: 100%;
    height: 100px;
    padding: 20px;
    
    text-align: center;
    text-shadow: 2px 2px 5px #da0303;
    color: white;

    background-color: #ff6f31;
    box-shadow: 0px 3px 10px #aaa;
}

.App-content {
    width: 100%;
    margin: auto;
}

.App-startup-list {
    margin: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.App-rating-content {
    margin: auto;
}

.App-rating-list {
    margin: auto;
    text-align: center;
}



/* ============= Startup List============== */

.startup-box {
    margin: auto;
    margin-bottom: 25px;
    width: 225px;
    padding: 20px;
    
    text-align: center;
    
    border-radius: 5px;
    box-shadow: 0px 2px 5px #aaa;
    background-color: #f3f3f3;
}

.startup-box:hover {
    cursor: pointer;
    box-shadow: 0px 3px 10px #aaa;
    /*background-color: #ddfaff;*/
}

.startup-box img {
    margin-bottom: 2px;
    width: 150px;
    height: 150px;

    border-radius: 4px;
}

.startup-box-name {
    font-size: 18px;
}

.startup-box-segment {
    font-size: 14px;
}

/* ============= Rating List ============== */

.startup-rating-box {
    margin: auto;
    margin-bottom: 25px;
    width: 300px;
    padding: 20px;
    
    text-align: left;

    line-height: 22px;
    background-color: #ffffff;
}

/*
.startup-rating-box:hover{
    background-color: #c1f3fc;
}
*/

/* rating number */
.startup-rating-box-position {
    margin: auto;
    width: 20px;
    font-weight: bold;
    font-size: 18px;
}

/* image */
.startup-rating-box img {
    margin: 0px;
    margin-bottom: 2px;
    width: 75px;
    height: 75px;

    box-shadow: 0px 1px 5px #aaa;
    border-radius: 4px;
}

/* info startup */
.Rating-box-info {
    margin: 0px;
    text-align: left;
}

.startup-rating-box-name {
    margin: 0px;
    font-size: 18px;
}

.startup-rating-box-segment {
    font-size: 14px;
}

/* ============= Rating Star Box ============== */

.star-rating-box {
    font-size: 25px;
}

.star-off {
    
}

.star-on {
    
}

.star-rating-on {
    
}